*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 150px;
    font-family: 'Inter',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    color:var(--blue-egyptien) ;
    font-family: 'Lora',serif;
    font-weight: 400;
}
.intro{
 position: relative;
 padding-bottom: 100px;
 margin-inline: -10px;
}

.texte__intro{
 position: absolute;
 top: 5px;
 color: white;  
 font-family:'Lora',serif;
 font-size: var(--subheading-1);
 margin-inline: 20px;
}
.texte__intro--paragraphe{
    padding-bottom: 45px;
}
.description__article{
    padding: 10px;
}
article{
    box-shadow:black 1px 2px 5px;
    padding-bottom: 25px;
    margin: 10px;
    margin-bottom: 100px;
}
.description__article--titre{
    padding-bottom: 10px;
}
.texte_intro-article-film{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-film{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.titre_sous-article{
    text-align: center;
    margin-bottom: 25px;
}
.contenu_texte-article-film{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-espoir{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-espoir{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-espoir{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-crainte{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-crainte{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-crainte{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-musique{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-musique{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-musique{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-livre{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-livre{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-livre{
    padding: 10px;
    padding-top: 5px;
}
.decouverte_autre-article{
    font-size: x-small;
    text-align: center;
    padding: 55px;
}
.texte_intro-article-lieu{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-lieu{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-lieu{
    padding: 7px;
    padding-top: 5px;
}
.description_image-lieu{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
}
.decouverte_sur-autre-article{
    font-size: x-small;
    text-align: center;
    font-weight: 400;
    padding: 14px;
}
.block_a-propos{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 5px;
    padding: 10px;
}
.titre_page-annexe{
    text-align: center;
    margin-bottom: -30px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--blue-roi);
}
.soustitre_page-annexe{
    text-align: center;
    margin: 20px;
    font-size: x-large;
    font-family: 'Lora',serif;
    font-weight: 400;
}
.contenu_texte-page-annexe{
    padding: 7px;
    padding-top: 7px;
}
.titre_sous-article-2{
    text-align: center;
    margin-bottom: 3px;
    margin-top: 15px;
}
.glossaire{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    padding-top: 15px;
    font-size: medium;

}
.block_glossaire{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 5px;
    padding: 10px;
}
.form__title{
    text-align: center;
    margin-bottom: -30px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--blue-roi);
}
.form__input{
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 45px;
    padding: 10px;
}
