*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 150px;
    font-family: 'Inter',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    color:var(--blue-egyptien) ;
    font-family: 'Lora',serif;
    font-weight: 400;
}
.intro{
 position: relative;
 padding-bottom: 100px;
 margin-inline: -10px;
}

.texte__intro{
 position: absolute;
 top: -20px;
 color: white;  
 font-family:'Lora',serif;
 font-size: var(--subheading-1);
 margin-inline: 20px;
}
.texte__intro--paragraphe{
    padding-bottom: 45px;
}
.description__article{
    padding: 10px;
}
article{
    box-shadow:black 1px 2px 5px;
    padding-bottom: 25px;
    margin: 10px;
    margin-bottom: 100px;
}
.description__article--titre{
    padding-bottom: 10px;
}
