*{
    padding: 0;
    margin: 0;
}
body{
    margin-top: 150px;
    font-family: 'Inter',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    color:var(--blue-egyptien) ;
    font-family: 'Lora',serif;
    font-weight: 400;
}
.intro{
 position: relative;
 padding-bottom: 100px;
 margin-inline: -10px;
}

.texte__intro{
 position: absolute;
 top: 5px;
 color: white;  
 font-family:'Lora',serif;
 font-size: var(--subheading-1);
 margin-inline: 20px;
}
.texte__intro--paragraphe{
    padding-bottom: 45px;
}
.description__article{
    padding: 10px;
}
article{
    box-shadow:black 1px 2px 5px;
    padding-bottom: 25px;
    margin: 10px;
    margin-bottom: 100px;
}
.description__article--titre{
    padding-bottom: 10px;
}
.texte_intro-article-film{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-film{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.titre_sous-article{
    text-align: center;
    margin-bottom: 25px;
}
.contenu_texte-article-film{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-espoir{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-espoir{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-espoir{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-crainte{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-crainte{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-crainte{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-musique{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-musique{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-musique{
    padding: 7px;
    padding-top: 5px;
}
.texte_intro-article-livre{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-livre{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-livre{
    padding: 10px;
    padding-top: 5px;
}
.decouverte_autre-article{
    font-size: x-small;
    text-align: center;
    padding: 55px;
}
.texte_intro-article-lieu{
    font-family: 'Lora',serif;
    text-align: center;
    color: var(--blue-egyptien);
    font-weight: 400;
    margin-inline: 30px;
    margin-bottom: 45px;
    font-size: var(--heading-3);
}
.block_article-lieu{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 3px;
    padding: 10px;
}
.contenu_texte-article-lieu{
    padding: 7px;
    padding-top: 5px;
}
.decouverte_sur-autre-article{
    font-size: x-small;
    text-align: center;
    font-weight: 400;
    padding: 14px;
}
.block_a-propos{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 5px;
    padding: 10px;
}
.titre_page-annexe{
    text-align: center;
    margin-bottom: -30px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--blue-roi);
}
.soustitre_page-annexe{
    text-align: center;
    margin: 20px;
    font-size: x-large;
    font-family: 'Lora',serif;
    font-weight: 400;
}
.contenu_texte-page-annexe{
    padding: 7px;
    padding-top: 7px;
}
.titre_sous-article-2{
    text-align: center;
    margin-bottom: 3px;
    margin-top: 15px;
}
.glossaire{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    padding-top: 15px;
    font-size: medium;

}
.block_glossaire{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 75px;
    box-shadow: black 1px 1px 5px;
    padding: 10px;
}
.form__title{
    text-align: center;
    margin-bottom: -30px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--blue-roi);
}
.form__input{
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form_button{
    margin: 20px;
    margin-bottom: 25px;
    margin-top: 35px;
    padding: 10px;
    margin-left: 20px;
}
.form_box{
    padding: 5px;
    width: 80%;
    margin-top: 4px;
}
.block_autres-projets{
    margin: 10px;
    margin-bottom: 60px;
    margin-top: 90px;
    box-shadow: black 1px 1px 5px;
    padding: 10px;
}
.titre_page-annexe-autres-projets{
    text-align: center;
    margin-bottom: -30px;
    font-size: x-large;
    font-weight: bold;
    color: var(--blue-roi);
}
.titre_autres-projets-eleves{
    text-align: center;
    margin-bottom: 25px;
    color: var(--blue-egyptien);
}
.nom_eleves{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 25px;
}
.taille_image-comics-batman-gauche{
    width: 250px;
}
.taille_image-comics-batman-droite{
    width: 250px;
    margin-left: 85px;
}
.titre_comics-batman-ego{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 57px;
}
.titre_comics-batman-imposteur{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 120px;
}
.titre_comics-catwoman-le-dernier-braquage{
    font-size: large;
    margin-bottom: 10px;
}
.titre_comics-catwoman-a-rome{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 117px;
}
.titre_comics-batman-annee-un{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 35px;
}
.titre_comics-batman-un-long-halloween{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 85px;
}
.titre_comics-batman-amere-victoire{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 15px;
}   
.titre_film-future-shock{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 27px;
}
.titre_film-le-porteur-de-cercueil{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 120px;
}
.titre_film-cloverfield{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 35px;
}
.titre_film-laisse-moi-entrer{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 94px;
}
.titre_film-la-planete-des-singes-affrontement{
    font-size: large;
    margin-bottom: 10px;
}
.titre_film-la-planete-des-singes-suprematie{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 120px;
}
.titre_film-the-batman{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 30px;
}
.taille_image-frise-lieu-gauche{
    width: 250px;
}
.taille_image-frise-lieu-droite{
    width: 250px;
    margin-left: 85px;
}.description_image-lieu-1936{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
    color: var(--blue-egyptien);
    margin-left: 80px;
}
.description_image-lieu-1950{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
    color: var(--blue-egyptien);
    margin-right: 95px;
}
.description_image-lieu-1972{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
    color: var(--blue-egyptien);
    margin-left: 80px;
}
.description_image-lieu-2001{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
    color: var(--blue-egyptien);
    margin-right: 97px;
}
.description_image-lieu-2022{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    padding-bottom: 13px;
    color: var(--blue-egyptien);
    margin-left: 85px;
}
.legend_video{
    text-align: center;
    display: flex;
    color: var(--blue-egyptien);
    margin-top: 5px;
    font-size: smaller;
}
.legend_video_musique{
    margin-top: 5px;
    color: var(--blue-egyptien);
    font-size: smaller;
    display: flex;
    margin-left: 55px;
}