img,
video{
    max-width: 100%;
}
.vague{
    margin-top: -40px;
}
.image_affiche-film{
    margin-top: -36px;
}
.image_affiche-espoir{
    margin-top: -36px;
}
.image_affiche-crainte{
    margin-top: -36px;
}
.image_affiche-musique{
    margin-top: -36px;
}
.image_affiche-livre{
    margin-top: -36px;
}
.image_affiche-lieu{
    margin-top: -36px;
}
.video{
    margin-top: 10px;
}
.image_page-annexe-a-propos{
    margin-top: 50px;
    margin-bottom: -40px;
}
.image_page-annexe-autres-projets{
    margin-top: 45px;
    margin-bottom: -90px;
}
.image_page-annexe-contact{
    margin-top: 25px;
    margin-bottom: -100px;
}
.image_page-annexe-glossaire-1{
    margin-top: 25px;
    margin-bottom: -75px;
}
.image_page-annexe-glossaire-2{
    margin-top: -55px;
}
