img,
video{
    max-width: 100%;
}
.vague{
    margin-top: -40px;
}
.image_affiche-film{
    margin-top: -36px;
}
.image_affiche-espoir{
    margin-top: -36px;
}
.image_affiche-crainte{
    margin-top: -36px;
}
.image_affiche-musique{
    margin-top: -36px;
}
.image_affiche-livre{
    margin-top: -36px;
}
.image_affiche-lieu{
    margin-top: -36px;
}
.video{
    margin-top: 10px;
}
