footer{
    background-color: var(--blue-egyptien);
    color: white;
    text-align: center;
    padding: 10px;
}

.footer__nom-site{
    font-family: 'Inter', sans-serif;
    font-size: normal;
    font-weight: normal;
}
.footer__logo-mmi{

}
.footer__autres >a{
    font-size: 20px;
    color: white;
}
.footer__autres{
    padding: 8px;
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
}
.footer__reseaux-sociaux{
    display: flex;
    justify-content: space-between;
    margin-inline: 80px;
    padding: 25px;
}
.footer__mailto{
    color: white;
    font-family: 'Inter', sans-serif;
}
.footer__paragraphe{
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
}
.footer__lien-mmi{
    color: white;
}
.footer__icone-reseaux{
    height: 25px;
    width: 25px;
}
.footer__fin{
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
    padding-top: 10px;
    font-family: 'Inter', sans-serif;
}