.motif_barre-bleu-gauche,
.motif_barre-bleu-droite{
    background-color: var(--blue-egyptien);
    height: 7px;
    width: 275px;
    margin: 10px;
}
.motif_barre-bleu-gauche{
    margin-left: -10px;
    margin-bottom: 13px;
    border-radius: 0 3px 3px 0;
}
.motif_barre-bleu-droite{
    margin-left: 123px;
    margin-bottom: 13px;
    border-radius: 3px 0 0 3px;
}