.motif_barre-bleu{
    background-color: var(--blue-egyptien);
    height: 7px;
    width: 25px;
    position: relative;
    margin: 100px;
}


.motif_barre-bleu-gauche{
    left: 0;
    position: absolute;
    content: "";
}
.motif_barre-bleu-droite{
    right: 0;
    position: absolute;
    content: "";
}